<div class="">
    <div class="text-center text-white" style="background-color: #2d2a2e;">
      <div class="shadow-lg" style="background-color: #F44336; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
        <section class="">
          <div class="text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a class="text-white" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
              </h6>
            </div>
  
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a class="text-white" [routerLink]="['/apartments']" routerLinkActive="router-link-active" >Apartments</a>
              </h6>
            </div>
  
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a class="text-white" [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
              </h6>
            </div>
  
          </div>
        </section>
  
        <hr class="m-5" />
  
        <section class="text-center pb-5">
          <a href="https://www.instagram.com/" target="_blank" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/" target="_blank" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://x.com/" target="_blank" class="text-white me-4">
            <i class="fab fa-x-twitter"></i>
          </a>
          <a href="https://github.com/" target="_blank" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
  
      </div>
  
      <div class="text-center p-3 text-dark" >
        <h5 class="m-0" style="color: #F44336">© 1960 The Apartment</h5>
      </div>
    </div>
  </div>