<mat-toolbar [style.background]="'#2d2a2e'" [style.height]="'40px'">
    <div style="color: #f44336;" id="carouselTitle" class="carousel slide text-center w-100 carouselTitle" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                this is an academic project
            </div>
            <div class="carousel-item">
                need an apartment quickly?
            </div>
            <div class="carousel-item">
                make a reservation to stay in one of our temples
            </div>
        </div>
    </div>
</mat-toolbar>