
<div class="sticky-top" style="background-color: #2d2a2e;">
  <mat-toolbar color="primary" style=" background-color: #f44336; border-top-left-radius: 25px; border-top-right-radius: 25px;" class="shadow-lg nav-container"> 
      &nbsp;&nbsp;
      <div class="pointer" [routerLink]="['/home']" routerLinkActive="router-link-active">
          <img src="assets/img/logo.png" alt="" width="50">
          &nbsp;
          <span>the apartment</span>  
      </div>
      
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <i class="fas fa-bars"></i>
    </button>

    <div class="navbar-collapse" [ngClass]="{'show': isNavbarOpen}">

      <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">home</a>  
      @if (logged.getIsLogged()=='theapartmentbnb@gmail.com') {
        <a mat-button [routerLink]="['/database']" routerLinkActive="router-link-active">database</a>
        <a mat-button [routerLink]="['/chart']" routerLinkActive="router-link-active">chart</a>
        <a mat-button [routerLink]="['/myreservations']" routerLinkActive="router-link-active">reservations</a>
      }
      <a mat-button [routerLink]="['/apartments']" routerLinkActive="router-link-active">apartments</a>  
      <a mat-button [routerLink]="['/contact']" routerLinkActive="router-link-active">contact</a>
      <a mat-button [routerLink]="['/gallery']" routerLinkActive="router-link-active">gallery</a>  
      <a mat-button [routerLink]="['/faq']" routerLinkActive="router-link-active">faq</a>
      <a mat-button [routerLink]="['/about']" routerLinkActive="router-link-active">about</a>

      @if (logged.getIsLogged()=='') {
        <a mat-button [routerLink]="['/signin']" routerLinkActive="router-link-active">sign in</a>
        <!-- <a mat-button [routerLink]="['/register']" routerLinkActive="router-link-active">sign up</a> -->
      } @else {
        <a *ngIf="!(logged.getIsLogged()=='')" mat-button [routerLink]="['/profile']" routerLinkActive="router-link-active">{{username}}</a>
      }

      <div><div class="custom-select-wrapper">
          <i class="fas fa-globe select-icon"></i>
          <select class="custom-select" [(ngModel)]="selectedCurrency" (change)="selectCurrency($event)">
            <option value="USD">USD</option>
            <option value="MXN">MXN</option>
            <option value="EUR">EUR</option>
          </select>
        </div>
      </div>

     

      <li class="no-markers nav-item dropdown">
          <div class="btn-group dropstart">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-person-walking-with-cane"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark no-markers">
                  <li><a class="dropdown-item" (click)="readText()">Read</a></li>
                  <li><a class="dropdown-item" (click)="togglePauseResume()">{{ isPaused ? 'Resume' : 'Pause' }}</a></li>
                  <li><a class="dropdown-item" (click)="stopReading()">Stop</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" (click)="toggleContrast()">Gray Scale</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" (click)="increaseFontSize()">Increase Text Size</a></li>
                  <li><a class="dropdown-item" (click)="decreaseFontSize()">Decrease Text Size</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" (click)="increaseLineHeight()">Increase Line Spacing</a></li>
                  <li><a class="dropdown-item" (click)="decreaseLineHeight()">Decrease Line Spacing</a></li>
              </ul>
          </div>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </mat-toolbar>
</div>
