<app-navbar [audioText]="'Contact. contact us. subject. email. description. submit. pongannos 10 porfa'"></app-navbar>
<div class="paddingx my-5">
  <div class="backgroundd shadow-lg">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <h1 class="fw-bold my-5">contact us</h1>
      <div class="form-floating mb-5 mx-5">
        <input type="text" id="subject" class="form-control custom-border" placeholder="subject" formControlName="subject">
        <label  class="form-label" for="subject">subject</label>
      </div>
      <div class="form-floating mb-5 mx-5">
        <input type="email" id="email" class="form-control custom-border" placeholder="email" formControlName="email">
        <label class="form-label" for="email">email</label>
      </div>
      <div class="form-floating mb-5 mx-5">
        <textarea class="form-control custom-border" id="description" placeholder="description" style="height: 100px" formControlName="description"></textarea>
        <label class="form-label" for="description">description</label>
      </div>
        <div class="text-center mb-3">
          <button type="submit" class="btn btn-dark" [disabled]="!formulario.valid" style="background-color: #F44336; color: white; border: none;">Submit</button>
        </div>
    </form>
  </div>
</div>
