<app-navbar [audioText]="'sign in. email. password. sign in. dont have an account yet? sign up. or try our login via sms'"></app-navbar>

  <div class="paddingx my-5">
    <div class="backgroundd shadow-lg">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="fw-bold my-5">sign in</h1>
        <div class="form-floating mb-5">
          <input type="text" id="email" class="form-control custom-border" placeholder="Email" formControlName="email">
          <label class="form-label text-white" for="email">email</label>
        </div>
        <div class="form-floating mb-5">
          <input type="password" id="contrasenya" class="form-control custom-border" placeholder="Contraseña" formControlName="contrasenya">
          <label class="form-label text-white" for="contrasenya">password</label>
        </div>
        <div class="text-center mb-3">
        <button type="submit" id="contactus-submit" class="btn btn-dark" [disabled]="!form.valid" style="background-color: #F44336; color: white; border: none;">sign in</button>
      </div>

      <ng-template #emptyLoadingTemplate></ng-template>

      <ngx-loading [show]="loading" [config]="{
        animationType: ngxLoadingAnimationTypes.circleSwish,
        primaryColour: '#f44336',
        secondaryColour: '#f44336',
      }" [template]="emptyLoadingTemplate"></ngx-loading>

    </form>
    <h5 class="text-center mt-5" style="color: rgba(255, 255, 255, 0.8)">don't have an account yet? <a [routerLink]="['/register']" routerLinkActive="router-link-active" style="color: #F44336;">sign up</a></h5>
    <h5 class="text-center mt-3" style="color: rgba(255, 255, 255, 0.8)">or try our login via <a [routerLink]="['/smslogin']" routerLinkActive="router-link-active" style="color: #F44336;">sms</a></h5>

  </div>
</div>
