<div class="container">
  <table class="table table-borderless">

    <tbody>
      <tr >
        <td class="border-0 text-center logo-cell" style="text-align: center;" rowspan="2"><i class="fas fa-wifi"></i></td>
        <td class="border-0 description-row">This apartment offers free WiFi for guests</td>
      </tr>
      <tr>
        <td class="border-0 description-row text-sm">Browse the web or work from your apartment with our high-speed WiFi connection.</td>
      </tr>
      <tr class="spacer"></tr>
      <tr>
        <td class="border-0 text-center logo-cell" style="text-align: center;" rowspan="2"><i class="fas fa-paw"></i></td>
        <td class="border-0 description-row">We accept pets at this accommodation. Please check our policies</td>
      </tr>
      <tr>
        <td class="border-0 description-row text-sm">Bring your furry friend along for a vacation with the whole family.</td>
      </tr>
      <tr class="spacer"></tr>
      <tr>
        <td class="border-0 text-center logo-cell" style="text-align: center;" rowspan="2"><i class="fas fa-utensils"></i></td>
        <td class="border-0 description-row">The kitchen is equipped with basic cooking utensils for your convenience</td>
      </tr>
      <tr>
        <td class="border-0 description-row text-sm">Prepare delicious meals and enjoy the freedom of cooking during your stay.</td>
      </tr>
      <tr class="spacer"></tr>
      <tr>
        <td class="border-0 text-center logo-cell" style="text-align: center;" rowspan="2"><i class="fas fa-bed"></i></td>
        <td class="border-0 description-row">Comfortable beds are ready to provide you with a good night's sleep</td>
      </tr>
      <tr>
        <td class="border-0 description-row text-sm">Our comfortable beds are designed to give you an excellent night's sleep.</td>
      </tr>
      <tr class="spacer"></tr>
      <tr>
        <td class="border-0 text-center logo-cell" style="text-align: center;" rowspan="2"><i class="fas fa-coffee"></i></td>
        <td class="border-0 description-row">Enjoy a freshly brewed cup of coffee every morning</td>
      </tr>
      <tr>
        <td class="border-0 description-row text-sm">Start your day energized by enjoying a freshly brewed cup of coffee every morning.</td>
      </tr>
    </tbody>
  </table>
</div>