<form (ngSubmit)="submitForm()" #form="ngForm" class="m-5" [formGroup]="reservationForm">

    <div class="form-group mb-4">
        <label for="arrivalDate">arrival date</label>
        <input type="date" matInput class="form-control custom-border" id="arrivalDate" name="arrivalDate" (change)="saveDate($event)"
            required formControlName="arrivalDate">
    </div>
    <div class="form-group mb-4">
        <label for="departureDate">departure date</label>
        <input type="date" class="form-control custom-border" id="departureDate" name="departureDate"
            (change)="saveDepartureDate($event)" required formControlName="departureDate">
    </div>
    <div class="form-group mb-4">
        <label for="arrivalTime">arrival time:</label>
        <select name="arrivalTime" id="arrivalTime" class="form-select custom-border" [(ngModel)]="reservation.arrivalTime" required formControlName="arrivalTime">
            <option value="12:00">12:00pm</option>
            <option value="13:00">13:00pm</option>
            <option value="14:00">14:00pm</option>
        </select>
    </div>
    <div class="form-group mb-4">
        <label for="name">full name</label>
        <input type="text" class="form-control custom-border" id="name" name="name" [(ngModel)]="reservation.name" required formControlName="name">
    </div>
    <div class="form-group mb-4">
        <label for="phone">phone number</label>
        <input type="tel" class="form-control custom-border" id="phone" name="phone" [(ngModel)]="reservation.phone" required formControlName="phone">
    </div>
    <div class="form-group mb-4">
        <label for="price">price</label>
        <input type="text" class="form-control custom-border" id="price" name="price" [(ngModel)]="reservation.price"
            placeholder="{{apartment.price}} USD night" readonly>
    </div>
    <div class="form-group mb-4">
        <label for="address">address</label>
        <input type="text" class="form-control custom-border" id="address" name="address" [(ngModel)]="reservation.address"
            placeholder="{{apartment.address}}" readonly>
    </div>
    <div class="form-group mb-5">
        <div class="form-check">
            <input class="form-check-input custom-border" type="checkbox" value="" id="checkbox" required formControlName="confirmation">
            <label class="form-check-label" for="checkbox">i agree to the terms and conditions</label>
        </div>
    </div>
    <div class="form-group mb-4">
        <mat-grid-list cols="4" [gutterSize]="'1%'">
            @for (tile of tiles; track tile) {
            <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows"
                [style.background-image]="'url('+apartment.src+tile.src+')'" [style.background-size]="'cover'"
                [style.margin]="'0px'"
                [ngStyle]="{'border-radius': tile.src == '/1.jpg' ? '1vw 0 0 1vw' : tile.src == '/3.jpg' ? '0 1vw 0 0' : tile.src == '/5.jpg' ? '0 0 1vw 0' : ''}">

            </mat-grid-tile>
            }
        </mat-grid-list>
        <!-- <img [src]="apartment.src + '/1.jpg'" alt="Imagen" class="img-fluid w-100" > -->
    </div>
    <div class="d-flex justify-content-between mt-5">
        <button style="padding: 20px 50px; font-size: 1.2em;" mat-flat-button data-bs-dismiss="modal" aria-label="Close"
            color="primary">close</button>
        <button style="padding: 20px 50px; font-size: 1.2em;" mat-flat-button color="primary"
            type="submit" [disabled]="!reservationForm.valid">submit</button>
    </div>

</form>
