/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%; 
}

body {  
    margin:0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #2d2a2e;
}

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.paddingx {
    padding: 0 18%;
}

.backgroundd {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5vh 10vh;
    border-radius: 10px;
    color: white
}
.high-contrast {
    filter: grayscale(100%);
}
